.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-position: center center;
  background-size: cover;
}

.container > h1 {
  color: black;
  cursor: default;
  padding: 0 16px;
  margin: 44px 0 36px;
  font-size: 5rem;
  font-weight: 900;
  line-height: 90px;
  text-align: center;
  font-family: sofia-pro-soft, sans-serif;
}

.container img {
  width: 1220px;
}

.container button {
  color: white;
  font-size: 20px;
  cursor: pointer;
  font-weight: 900;
  border-radius: 5px;
  text-align: center;
  background: #651b1b;
  border: solid white 4px;
  border-radius: 18px;
  padding: 20px;
}
